@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    
}


/* Navbar */

.pembungkus {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

nav{
    background-color: #EDF1D6;
}

nav .pembungkus{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.menu{
    width: 40%;
}

.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 45px;
}